@import "./vars";

.card {
    padding: 20px;
    &__item {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 600px;
        &-content {
        }
        &-img {
            margin: 0 auto;

            img {
                width: 100%;
            }
        }
        &-title {
            font-size: 1.5em;
            font-weight: bold;
            margin-bottom: 15px;
        }
        &-descr {
        }
        &-button {
            // position: absolute;
            // top: 520px;
            // right: 88px;
            cursor: pointer;
            font-size: 1em;
            padding: 10px;
            border: none;
            border-radius: 10px;
            background-color: $BGC_HEADER;
            transition: 0.2s ease-in;
            &--added {
                background: #ff7a40;
            }
        }
        &-history {
            margin: 25px 0 25px 0;
        }
    }
}
