@import "./vars";

.card {
    padding: 20px;
    &__item {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 600px;
        &-content {
        }
        &-img {
            margin: 0 auto;

            img {
                max-width: 600px;
                width: 100%;
                min-height: 300px;
            }
        }
        &-title {
            font-size: 1.5em;
            font-weight: bold;
            margin-bottom: 15px;
        }
        &-descr {
        }
        &-button {
            cursor: pointer;
            font-size: 1.3em;
            padding: 15px;
            border: none;
            border-radius: 10px;
            background-color: $BGC_HEADER;
        }
        &-history {
            margin: 25px 0 25px 0;
        }
    }
}
