$BGC_BODY: #cee5d0;

$BGC_CONTAINER: #ffffff;

$BGC_INPUT: #f3f0d7;
$BORDER_INPUT_ERROR: rgb(255, 118, 118);
$BGC_INPUT_ERROR: rgb(255, 189, 189);

$BGC_BUTTON: #ffbf86;
$BGC_BUTTON_HOVER: #f7943e;

// PRODUCT=====================
$BGC_PRODUCT_TITLE: #ff572273;
$BGC_PRODUCT_ITEM: #03a9f447;

// PEOPLE=====================
$BGC_HEADER: #81d8ff;
